/* laptop and tablet */
@media only screen and (max-width: 1920px) {
  .footer .bottom {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
  }

  .footer .data-desc-2 {
    width: 30%;
  }
  .footer .data-desc-1 ul li {
    font-size: 20px;
  }

  .footer .data-desc-2 ul li {
    font-size: 20px;
  }
  .footer .data-desc-2 ul li.judul-desc {
    font-size: 24px;
  }

  .footer .desc .data-desc-2 input {
    background-color: #d9d9d9;
    color: #000;
    font-size: 16px;
  }

  .footer .desc .data-desc-2 button {
    background-color: #004fce;
    color: #fff;
    font-size: 16px;
  }

  .footer .bottom p {
    font-size: 20px;
  }

  .footer .data-desc-2 button:hover {
    background-color: #989898;
  }
}
@media only screen and (max-width: 1366px) {
  .footer .bottom {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
  }

  .footer .data-desc-2 {
    width: 30%;
  }

  .footer .desc .data-desc-2 input {
    background-color: #d9d9d9;
    color: #000;
  }

  .footer .desc .data-desc-2 button {
    background-color: #004fce;
    color: #fff;
  }

  .footer .data-desc-2 button:hover {
    background-color: #989898;
  }
  .footer .data-desc-1 ul li {
    font-size: 16px;
  }

  .footer .data-desc-2 ul li {
    font-size: 16px;
  }
  .footer .data-desc-2 ul li.judul-desc {
    font-size: 20px;
  }

  .footer .desc .data-desc-2 input {
    background-color: #d9d9d9;
    color: #000;
    font-size: 12px;
  }

  .footer .desc .data-desc-2 button {
    background-color: #004fce;
    color: #fff;
    font-size: 12px;
  }

  .footer .bottom p {
    font-size: 16px;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .footer .desc {
    flex-direction: column;
  }
  .footer .desc .data-desc-1 {
    width: 100%;
  }
  .footer .desc .data-desc-1 ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .footer .desc .data-desc-2 {
    width: 100%;
  }
  .footer .desc .data-desc-1 ul {
    padding: 0;
  }
  .footer .desc .data-desc-2 ul {
    padding: 0;
  }
  .footer .desc .data-desc-3 {
    display: none;
  }
  .footer .bottom {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 480px) {
  .footer .desc .data-desc-1 {
    width: 100%;
  }
  .footer .desc .data-desc-1 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .footer .desc .data-desc-2 {
    width: 100%;
  }
  .footer .desc .data-desc-1 ul {
    padding: 0;
  }
  .footer .desc .data-desc-2 ul {
    padding: 0;
  }
  .footer .desc .data-desc-3 {
    display: none;
  }

  .footer .bottom {
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
