:root {
    /* primary putih */
    --primary: #ffffff;
    /* secondary biru */
    --secondary: #004fce;
    /* Ternary kuning */
    --Ternary: FFA500;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

/* Navbar - spec start*/
nav.navbar {
    width: 320px;
    border-radius: 60px;
    border: var(--primary);
    background-color: var(--primary);
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

a.nav-link {
    font-size: 12px;
}
/* Navbar - spec end*/

/* content - spec start */
img.btn-carousel-spec {
    transform: rotate(180deg);
}

div.caption-content-spec {
    background-color: var(--secondary);
}
/* content - spec end */

/* footer - spec start */
button.button-footer-panduan {
    background-color: var(--secondary);
    color: var(--primary);
}
/* footer - spec end */