/* content */
div.stroge,
div.vga,
div.baterai-screen,
div.memory,
div.os,
div.fitur {
  background-color: #fdfdfd;
  border: 1px solid black;
}

div.kotak-name-b {
  background-color: #004fce;
}

.bg-orange {
  background-color: orange !important;
  color: #111;
}

div.kotak-name-m {
  background-color: #ff3333;
}

div.ovel-screen {
  width: 120px;
  height: 150px;
  background-color: orange;
  border-top-right-radius: 100px;
}

.prosesor .container {
  background-color: #fdfdfd !important;
  border: 1px solid black;
}

.tbody tr {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: between;
  align-items: center;
}

@media only screen and (min-width: 1920px) {
  .konten .data-1 {
    width: 50%;
  }

  .konten .data-2 {
    width: 50%;
  }

  .grafik img {
    width: 400px;
  }

  .baterai-screen {
    width: 50%;
  }

  .memory {
    width: 50%;
  }

  .title {
    font-size: 32px;
  }

  .judul-text p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1919px) {
  .konten .data-1 {
    width: 50%;
  }

  .konten .data-2 {
    width: 50%;
  }

  .grafik img {
    width: 400px;
  }

  .baterai-screen {
    width: 50%;
  }

  .memory {
    width: 50%;
  }

  .title {
    font-size: 32px;
  }

  .judul-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1366px) {
  .konten .data-1 {
    width: 50%;
  }

  .konten .data-2 {
    width: 50%;
  }

  .grafik img {
    width: 400px;
  }

  .baterai-screen {
    width: 50%;
  }

  .memory {
    width: 50%;
  }

  .title {
    font-size: 32px;
  }

  .judul-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .konten .data-1 {
    width: 50%;
  }

  .konten .data-2 {
    width: 50%;
  }

  .baterai-screen {
    width: 50%;
  }

  .memory {
    width: 50%;
  }

  .title {
    font-size: 32px;
  }

  .judul-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .title {
    font-size: 32px;
  }

  .judul-text p {
    font-size: 24px;
  }

  .konten {
    flex-direction: column;
  }

  .konten .data-1 {
    width: 100%;
  }

  .konten .data-2 {
    width: 100%;
  }

  .konten .data-2 .prosesor {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .konten {
    flex-direction: column;
  }

  .konten .data-1 {
    width: 100%;
  }

  .konten .data-2 {
    width: 100%;
  }

  .title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 16px;
  }

  .judul-text p {
    font-size: 16px;
  }

  .grafik img {
    width: 300px;
  }

  .Batenmer {
    flex-direction: column;
  }

  .baterai-screen {
    width: 100%;
  }

  .memory {
    width: 100%;
  }

  .carousel-item img {
    width: 25px;
  }

}

@media only screen and (max-width: 375px) {
  .title {
    font-size: 20px;
  }

  .grafik img {
    width: 300px;
  }

  .judul-text p {
    font-size: 16px;
  }

  .Batenmer {
    flex-direction: column;
  }

  .baterai-screen {
    width: 100%;
  }

  .memory {
    width: 100%;
  }

  .vga thead tr{
    display: flex;
    flex-direction: column;
  }

  .vga tbody {
    display: flex;
    flex-direction: column;
  }

  .vga tbody tr {
    display: flex;
    flex-direction: column;
  }

  .vga tbody td {
    width: 100% !important;
    text-align: center !important;
  }

  .vga tbody td p {
    text-align: center !important;
  }

  .vga tbody td .rounded-pill {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 20px;
  }

  .grafik img {
    width: 300px;
  }

  .judul-text p {
    font-size: 16px;
  }

  .Batenmer {
    flex-direction: column;
  }

  .baterai-screen {
    width: 100%;
  }

  .memory {
    width: 100%;
  }

  .vga thead tr{
    display: flex;
    flex-direction: column;
  }

  .vga tbody {
    display: flex;
    flex-direction: column;
  }

  .vga tbody tr {
    display: flex;
    flex-direction: column;
  }

  .vga tbody td {
    width: 100% !important;
    text-align: center !important;
  }

  .vga tbody td p {
    text-align: center !important;
  }

  .vga tbody td .rounded-pill {
    margin: 0;
  }
}