@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&display=swap");

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  --title: 100px;
  --sub-title: 24px;
  --paragraph: 16px;
  --button: 20px;
}

#frame1 {
  padding-bottom: 5%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  height: 865px;
}

#frame1 .nav {
  margin-left: 0%;
}

#frame1 .parent-content {
  display: flex;
}

#frame1 .sub-title {
  font-weight: bold;
  font-size: var(--sub-title);
  margin: 0;
}

#frame1 .title {
  font-weight: bold;
  font-size: var(--title);
  width: 90%;
}

#frame1 .btn-hp {
  padding: 0.5vh 0vh 0.5vh 0vh;
}

#frame1 .btn-hp1,
.btn-hp2 {
  border-radius: 20px;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.3s ease-in;
}

#frame1 .btn-hp1:hover,
.btn-hp2:hover {
  filter: brightness(90%);
}

#frame1 .btn-hp1 {
  background-color: #004fce;
  font-size: var(--button);
  color: #fff;
}

#frame1 .btn-hp2 {
  font-size: var(--button);
  background-color: orange;
}

#frame1 .left-content {
  margin-left: 1rem;
  margin-top: 3rem;
}

#frame1 .parent-content .left-content hr {
  width: 100%;
}

#frame1 .parent-content .left-content .parent-preview {
  width: 60%;
}

#frame1 .parent-content .left-content .preview {
  display: flex;
}

#frame1 .parent-content .left-content .preview .item1,
.item2,
.item3 {
  width: 100%;
}

#frame1 .parent-content .left-content .preview .item1 img,
.item2 img,
.item3 img {
  width: 100%;
}

#frame1 .parent-content .left-content .preview .item1 .teks1,
.item2 .teks2,
.item3 .teks3 {
  background-color: #d9d9d9;
  font-size: var(--paragraph);
  width: 100%;
  font-weight: bold;
  margin-top: 1rem;
  cursor: default;
}

#frame1 .parent-content .left-content .preview .item3 .teks3 {
  width: 100%;
  margin-left: 0;
}

#frame1 .parent-content .left-content .icon-scroll {
  background-color: #004fce;
  padding: 0.7rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
}


#frame1 .parent-content .right-content {
  position: absolute;
  top: 0;
  right: 0;
}

#frame1 .parent-content .right-content .rectangle .teks-vision {
  font-family: "Saira Stencil One", sans-serif;
  transform: rotate(-90deg);
  left: -1vh;
  bottom: 32vh;
  z-index: -1;
}

#frame1 .parent-content .right-content .rectangle .teks-vision .vision {
  font-size: 238px;
  color: #fff;
}

#frame1 .parent-content .right-content .rectangle {
  height: 865px;
  width: 500px;
  background: #004fce;
  z-index: 1;
}

#frame1 .parent-content .right-content .rectangle .orang {
  width: 170%;
  position: absolute;
  margin-left: -80%;
  bottom: 0vh;
  z-index: 999;
}

.item1 img,
.item1 .teks1 {
  transition: opacity 0.5s ease-in-out; 
  opacity: 1; 
}

.hidden {
  opacity: 0; 
}


#frame2 {
  background: #f6f6f6;
  height: 100vh;
  position: relative;
}

#frame2 .rectangle {
  height: 90vh;
  position: absolute;
  width: 160vh;
  border-radius: 30px;
  background-color: #fff;
  padding: 2%;
  border: 1px solid black;
}

#frame2 .rectangle .parent-content {
  display: flex;
}

#frame2 .rectangle .parent-content .left-content .image-content {
  position: relative;
}

#frame2 .rectangle .parent-content .left-content .image-content img {
  width: 70vh;
  height: 60vh;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  object-fit: cover;
}

#frame2 .rectangle .parent-content .left-content .image-content .circle {
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 3vh;
  border-radius: 50%;
  right: 3vh;
  background-color: #111;
  opacity: 70%;
}

#frame2 .rectangle .parent-content .left-content .button {
  display: flex;
  gap: 0.5rem;
  transform: scale(0.9);
  margin-left: -22px;
  margin-top: 7%;
}

#frame2 .rectangle .parent-content .left-content .button button {
  font-family: "Poppins", sans-serif;
  border-radius: 30px;
  padding: 1% 3%;
  font-size: 2.7vh;
  width: 35vh;
  border: none;
  font-weight: 600;
}

#frame2 .rectangle .parent-content .left-content .button .fa-angle-right,
#frame3 .middle .parent-card .card button .fa-angle-right {
  background-color: transparent;
  border: 1px solid white;
  width: 11%;
  font-size: 2.3vh;
  border-radius: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 2%;
}

#frame2 .rectangle .parent-content .left-content .button .btn1 {
  background-color: #004fce;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: ease 0.3s;
}

#frame2 .rectangle .parent-content .left-content .button .btn2 {
  background-color: orange;
  transition: ease 0.3s;
}

#frame2 .rectangle .parent-content .left-content .button .btn1:hover, .button .btn2:hover {
  filter: brightness(90%);
}

#frame2 .rectangle .parent-content .left-content .button .btn2 .fa-angle-right{
  border-color: black;
}

#frame2 .rectangle .parent-content .right-content {
  margin-left: 5%;
}

#frame2 .rectangle .parent-content .right-content .box {
  width: 70vh;
}

#frame2 .rectangle .parent-content .right-content .box .title-box {
  padding-top: 4%;
  padding-bottom: 2%;
  background-color: #004fce;
  text-align: center;
  color: #fff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

#frame2 .rectangle .parent-content .right-content .box .title-box h1 {
  font-size: 3vh;
  font-weight: bold;
}

#frame2 .rectangle .parent-content .right-content .box .body-box {
  padding: 1rem;
  background-color: #fafafa;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  height: 35vh;
}

#frame2 .rectangle .parent-content .right-content .box .body-box p {
  line-height: 2;
  font-size: calc(2.3vh);
}
#frame2 .rectangle .parent-content .right-content .box .body-box .swicth {
  right: 2rem;
  bottom: 1rem;
  position: absolute;
  display: flex;
  gap: 0.5rem;
}

#frame2 .rectangle .parent-content .right-content .box .body-box .swicth i {
  background-color: orange;
  padding: 0.4rem;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 2rem;
}

  #frame2 .rectangle .parent-content .right-content .mini-image {
    margin-top: 2rem;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  #frame2 .rectangle .parent-content .right-content .mini-image .image img {
    width: 33vh;
    height: 33vh;
    border-radius: 30px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  #frame2 .rectangle .parent-content .right-content .mini-image .image {
  display: flex;
  gap: 7%;
}

.image-slide-left {
  transform: translateX(-100%);
}

.image-slide-right {
  transform: translateX(100%);
}

.image-active {
  transform: translateX(0);
} 


#frame3 {
  height: 115vh;
  background-color: #fff;
}

#frame3 .topbar {
  height: 20vh;
  background: #fff;
  border-bottom-right-radius: 100px;
  text-align: center;
  padding-top: 2vh;
  border-bottom-left-radius: 100px;
}

#frame3 .topbar h1 {
  font-size: 9vh;
  font-weight: bold;
  padding-top: 3vh;
}

#frame3 .top {
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
}

#frame3 .top h1 {
  font-size: 3vh;
  font-weight: bold;
}

#frame3 .top .icon-container i {
  font-size: 4vh;
  border-radius: 50%;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Mengatur jarak tooltip dari ikon */
  left: -50%; /* Menempatkan tooltip di posisi standar */
  transform: translateX(-50%); /* Menjaga tooltip tetap di tengah */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 2vh;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* Ujung segitiga di bawah tooltip */
  right: 25%; /* Menempatkan ujung segitiga sekitar -45 derajat dari ikon */
  transform: rotate(-45deg); /* Memutar segitiga kecil agar berposisi miring */
  border-width: 7px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}



#frame3 .midlle {
  position: relative;
}

#frame3 .middle .text-back {
  position: absolute;
  font-family: "Saira Stencil One", sans-serif;
  font-size: 19vw;
  color: #eaeaea;
  opacity: 0.6;
  left: 10vh;
}

#frame3 .middle .parent-card {
  display: flex;    
  justify-content: center;
  align-items: center;
  gap: 20vh;
}

#frame3 .middle .parent-card .card {
  background-color: transparent;
  border: none;
  text-align: center;
}

#frame3 .middle .parent-card .card img {
  width: 35vh;
}

#frame3 .middle .parent-card .card h1 {
  font-size: 3vh;
  font-weight: bold;
}

#frame3 .middle .parent-card .card p {
  font-size: 2.2vh;
}

#frame3 .middle .parent-card .card button {
  border: none;
  background-color: #004fce;
  width: 60%;
  color: #fff;
  border-radius: 20vh;
  font-weight: bold;
  font-size: 2.2vh;
  padding: 1vh 0.4vh 1vh 0.4vh;
  transition: ease 0.3s;
}

#frame3 .middle .parent-card .card button:hover {
  filter: brightness(90%);
}

#frame3 .middle .parent-card .card button i {
  width: 14% !important;
  font-size: 2vh !important;
}

#frame3 .bottom .parent .side-left .top,
.side-right .top {
  width: 8vh;
  height: 3vh;
  background-color: orange;
  border-radius: 10vh;
}

#frame3 .bottom .parent .side-left .bottom,
.side-right .bottom {
  width: 15vh;
  height: 3vh;
  border-radius: 10vh;
  background-color: orange;
  margin-top: 1vh;
}

#frame3 .bottom .parent .side-left .bottom {
  margin-left: 2vh;
}

#frame3 .bottom .parent .side-right .bottom {
  margin-left: -9vh;
}

#frame3 .bottom .parent b, #frame3 .bottom .parent i {
  font-size: 2vh;
}

#frame4 {
  height: 880px;
  background-color: #fff;
}

#frame4 .line {
  display: flex;
  align-items: center;
}

#frame4 .line .left,
.line .center,
.line .right {
  height: 30px;
  width: 100%;
  background-color: #004fce;
  filter: brightness(0.8);
}

#frame4 .line .center {
  filter: brightness(1);
  height: 40px;
}

#frame4 .review {
  font-family: "Poppins", sans-serif;
  padding-top: 2%
}

#frame4 .review h1 {
  font-size: calc(var(--title) - 35px);
}

#frame4 .parent-card {
  display: grid;
  grid-template-columns: auto auto auto;
  scale: 0.9;
  gap: 2%;
}

#frame4 .parent-card .card {
  border: 1px solid black;
  background-color: #fdfdfd;
  padding: 4%;
  border-radius: 30px;
  height: calc(100% + 4%);
}

#frame4 .parent-card .card .card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#frame4 .parent-card .card .card-head .label {
  font-size: var(--button);
  background-color: #004fce;
  color: white;
  padding: 2% 3%;
  border-radius: 30px;
  font-weight: 600;
}

#frame4 .parent-card .card .card-head .date {
  font-size: calc(var(--paragraph) + 2px);
  padding-top: 3%;
}

#frame4 .parent-card .card .card-body h1 {
  font-size: calc(var(--sub-title) + 8px);
}

#frame4 .parent-card .card .card-body p {
  font-size: var(--button);
}

#frame4 .parent-card .card .card-body ul li {
  font-size: var(--button);
}

#frame4 .parent-card .card .card-footer {
  display: flex;
  justify-content: start;
  background-color: transparent;
  gap: 2%;
  padding-top: 5%;
  height: 65px;
}

#frame4 .parent-card .card .card-footer img {
  width: 40px;
  height: 40px;
}

#frame4 .parent-card .card .card-footer p {
  font-size: var(--paragraph);
  padding-top: 1.5%;
}

#frame4 .parent-card .center {
  display: flex;
  flex-direction: column;
  gap: 4%;
}

#frame5 {
  background-color: #004fce;
  height: calc(100%);
  position: relative;
  padding-top: 4%;
}

#frame5 .text-behind {
  position: absolute;
}

#frame5 .text-behind .benefit {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 21vw;
  color: #c1c1c1;
  opacity: 0.3;
}

#frame5 .top {
  display: flex;
  justify-content: space-between;
}

#frame5 .top .icon-left {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#frame5 .top .icon-right {
  margin-right: 4%;
}

#frame5 .top .icon-left .top {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 50%;
}

#frame5 .top .icon-left .bottom {
  width: 45px;
  height: 35px;
  border-radius: 1vh;
  background-color: orange;
}

#frame5 .text h1 {
  color: #fff;
  font-weight: 700;
  font-size: calc(var(--title) - 35px);
  margin-top: 3vh;
}

#frame5 .top .icon-right .top {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #fff;
}

#frame5 .center {
  display: flex;
  justify-content: space-between;
}

#frame5 .center .left .rectangle {
  position: relative;
  width: 530px;
  margin-top: 15%;
  height: 500px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(#fff, #002a67);
}

#frame5 .center .left .rectangle .image {
  position: absolute;
  left: 0;
  top: -9%;
}

#frame5 .center .left .rectangle .image img {
  width: 125%;
}

#frame5 .center .right .info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  scale: 0.8;
  margin-top: 4%;
  margin-left: 5%;
}

#frame5 .center .right .info .card {
  padding: 8%;
  position: relative;
}

#frame5 .center .right .info .card .icon {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #2c4e80;
}

#frame5 .center .right .info .card .content i {
  color: #fff;
  font-size: var(--sub-title);
  background-color: #2c4e80;
  border-radius: 50%;
  padding: 5%;
  margin-bottom: 3%;
}

#frame5 .center .right .info .card .content h1 {
  font-size: var(--sub-title);
  font-weight: 700;
}

#frame5 .center .right .info .card .content p {
  font-size: var(--button);
}

#frame5 .center .right .info .item-top-left {
  border-top-right-radius: 150px;
}

#frame5 .center .right .info .item-top-left .icon {
  right: 2vh;
  bottom: 2vh;
}

#frame5 .center .right .info .item-top-right {
  border-top-left-radius: 150px;
  text-align: right;
}

#frame5 .center .right .info .item-top-right .icon {
  left: 2vh;
  bottom: 2vh;
}

#frame5 .center .right .info .item-bottom-left {
  border-bottom-right-radius: 150px;
}

#frame5 .center .right .info .item-bottom-left .icon {
  right: 2vh;
  top: 2vh;
}

#frame5 .center .right .info .item-bottom-right {
  border-bottom-left-radius: 150px;
  text-align: right;
}

#frame5 .center .right .info .item-bottom-right .icon {
  left: 2vh;
  top: 2vh;
}

#frame5 .bottom {
  display: flex;
  padding: 3% 0;
  justify-content: space-between;
}

#frame5 .bottom .icon-right {
  margin-left: 4vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#frame5 .bottom .icon-right {
  margin-right: 4vh;
}

#frame5 .bottom .icon-right .bottom {
  width: 5.5vh;
  height: 4.5vh;
  border-radius: 1vh;
  background-color: orange;
  margin-left: -3.5vh;
}

#frame5 .bottom .icon-right .top {
  width: 4vh;
  height: 4vh;
  border-radius: 1vh;
  background-color: #fff;
}

#frame5 .bottom .icon-left .top {
  width: 4vh;
  height: 4vh;
  border-radius: 1vh;
  background-color: #fff;
  margin-left: 7vh;
  margin-top: 5.3vh;
}
#frame6 {
  background-image: url("/assets/img/backKomponen.png");
  /* background-size: cover; */
  /* height: 104vh; */
  background-repeat: no-repeat;
}
#frame6 #dekorasiKomponen1 {
  background-color: #ffa500;
  width: 6vw;
  height: 3vh;
}
#frame6 #dekorasiKomponen2 {
  background-color: #ffa500;
  width: 6vw;
  height: 3vh;
  margin-left: 3rem;
}
#frame6 .text-center {
  font-weight: 700;
  font-size: calc(var(--title) - 35px);
}
#frame6 .isiFrame6 .row .col .row-cols-2 .col .border{
  width: 90%;
  height: 80%;
}
#frame6 .isiFrame6 .row .col #judulIsiTextKomponen {
  font-size: 24px;
  padding-inline-start: 1rem;
}
#frame6 .isiFrame6 .row .col #isiTextKomponen {
  font-size: var(--button)   !important;
  padding-inline-start: 1rem;
}
#frame6 .isiFrame6 .row .col #isiTengahKomponen {
  height: 25vh;
  width: 20vw;
}
#frame7 .row .col #judulPerbandingan {
  width: 40vw;
  font-size: 50px;
}
#frame7 .row .col #kelompokForm input {
  border: none;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ADA7A7;
  font-weight: 500;
}
#kelompokForm #bandingkanForm {
  width: 25vw;
}
#kelompokForm #bandingkanForm1 {
  width: 34vw;
}

#frame7 #gambartesting {
  height: 15vh;
  width: 100%;
}
#frame7 .row .adaaja {
  width: 30vw;
}
#frame7 .row .col #kelompokForm #buttonbandingkankiri {
  font-size: 14px;
  width: 7.8vw;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: max-content;
}
#frame7 .row .adaaja #dekorasiBandingkan1 {
  width: 5vw;
  height: 2vh;
  background-color: #ffb324;
}
#frame7 .row .adaaja #dekorasiBandingkan2 {
  width: 7vw;
  height: 2vh;
  background-color: #ffa500;
}
#frame7 .btn {
    color: #ffffff;
    background-color: #004fce;
}
#frame7 .row .col .gambarBanding img{
  width: 80%;
}

#frame7 img {
 object-fit: contain;
}
#footer {
    width: 100%;
    margin-top: 7rem;
}
#footer .row .col #judulKiriFooter {
  font-size: 20px;
}
#footer .row #judulTengahFooter {
  font-size: 24px;
}
#footer .btn {
    color: #ffffff;
    background-color: #004fce;
}
#footer .col #wandiPengertianFooter {
  width: 25vw;
}
#footer .col .d-flex #wandiInputFooter {
  width: 20vw;
  background-color: #d1d1d1;
}
#footer .col .d-flex #wandiButtonFooter {
  position: absolute;
  left: 67.2%;
}

#footer .copyright {
  font-size: 24px;
}

#footer .col #wandiGambarFooter {
  width: 27vw;
}